:host ::ng-deep{
    .layout-sidebar{
        background:var(--ss-layout-side);
        transform: translateX(-100%);
    }

    @media screen and (max-width: 992px)
    {
        .layout-wrapper.layout-slim .layout-main {
            margin-left: 7rem;
            width: calc(100% - 7rem);
        }
        .layout-wrapper .layout-sidebar {
            z-index: 999;
            box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
            transform: translateX(-100%) !important;
        }
        .layout-main {
            margin-left: 1rem !important;
            width: calc(100% - 1rem) !important;
        }
    }
    .layout-wrapper {

        .layout-main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            overflow: auto;
            height: calc(100% - 7rem);
            margin-top: 7rem;
            border-top-left-radius: 30px;
            transition: all 0.2s;
            margin-left: 1rem;

            &.locked{
                overflow:hidden;

                .layout-content{
                    height:calc(100% - 100px);
                }
            }
            .layout-content{
                // height:100%;
            }
        }
        .layout-main {
            // margin-left: 3rem;
            width: calc(100% - 1rem);
        }
        &.layout-sidebar-active{
            .layout-main{
                width: calc(100% - 14rem);
                margin-left: 14rem;
            }
            .layout-sidebar {
                transform: translateX(0%);
            }
        }
    }
    
}
