:host ::ng-deep{
    // canvas{
    //     height:140px !important;width:100% !important
    // }
    p-chart{
        &>div{
            overflow:hidden;
            position: relative;
            // top: 9px;
            border-bottom-right-radius: 15px;
            padding:0 10px 0;
            // border-bottom-left-radius: 17px;
            // top: 8px;
            // width: 104%;
            // left: -10px;
            // top: 8px;
        }
    }
}