<div class="exception-body flex align-items-center justify-content-center">
    <div class="exception-panel p-5 flex flex-column justify-content-center">
        <h4 class="font-bold">ERROR</h4>
        <span class="line-height-3 mb-4">Unexpected error happened. Resource is not available.</span>
        <button (click)="gotoDash($event)" type="button" pbutton="" label="Go Back to Dashboard" class="p-element p-button p-component" tabindex="0">
            <span class="p-button-label">Go Back to Dashboard</span>
        </button>
    </div>
</div>