.exception-body {
    height: 100vh;
    background-image:url(../../../assets/images/layouts/error-bkg.png);
    background-size: cover;
}
.exception-panel {
    display:none;
    color:var(--ss-body);
    min-width: 30rem;
    background-color: var(--ss-font-opposite);
    border-radius: 14px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 4px, rgb(0 0 0 / 4%) 0px 24px 36px;
    animation: fadeInZoom 0.6s;
}