
:host ::ng-deep{
    @media (max-width: 991.98px){
        .left-menu 
        {
            -webkit-transform: translate(-110%,0);
            transform: translate(-110%,0);
            left: 0;
            top:0;
            width:0%;
            padding:0 !important;
            position: absolute;


            &.showSideHover{
                position: absolute;
                z-index: 2;
                min-width: 176px;
                transform: translate(54px,0);
                padding: 20px !important;
                background: white;
                left: -46px;
                top:0;
            }
        }
        .right-content{
            width:99%;
            padding-left: 10px !important;
            .side-toggler {
                display: block !important;
                padding: 15px 0 0 15px;
            }
        }
    }
    .p-inputtext{
        padding:0.5rem;
        // border:0;
    }
    .p-orderlist-filter{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    .p-orderlist-filter-container{
        background:transparent;
    }
    .p-orderlist-filter-icon {
        position: unset;
        top: unset;
        margin-top: unset;        
        margin-right:7px;
    }
}
.image-container{
    width:35px;height:35px;
    img{width:100%;height:100%}
}
.action{
    cursor: pointer;
    width: 15px;
    &.selected{
        color:#2da0ab;
    }
}
.date{
    min-width: 55px;
    text-align: right;
}
.tags{
    white-space: nowrap;
    span{
        padding: 3px 5px;
        border-radius: 20px;
        // color: var(--ss-font);
        color:black;
        font-weight: 500;
        font-size: 0.7rem;
        margin: 0 2px 0;
        user-select: none;
    }
}

.dot{
    font-size:0.8rem;
    padding:0 2px;
}
.update{
    background:#a4ffd9;
    &.color{
        color:#87d8b6;
        background:unset;
    }
}
.high{
    background:#ffc7c7;
    &.color{
        color:#e29393;
        background:unset;
    }
}
.medium{
    background:#ffe6a2;
    &.color{
        color:#f5d377;
        background:unset;
    }
}
.low{
    background:#c4dfff;
    &.color{
        color:#86b4ec;
        background:unset;
    }
}
.blocked{
    background:#ead0ff;
    &.color{
        color:#c496e9;
        background:unset;
    }
}
.left-menu{
    border-right:1px solid #ababab33;
    overflow: auto;
    height: 100%;
    transition:0.4s;

    ul {
        // background:var(--ss-card);
        li{
            padding:5px 0;
            white-space: nowrap;
            cursor: pointer;
    
            a.active span, a:hover span{
                font-weight: 700;
                border: 1px solid #189cb6;
                padding: 0px 4px 1px;
                border-radius: 4px;
            }
            i{margin-right:10px;}
        }
    }
}
.right-content{
    height:100%;
    overflow:hidden;
    position:relative;
    .side-toggler {
        display: none;
    }
}
:host ::ng-deep{
    p-orderlist{
        height:100%;
    }
}
.overlay{
    background: #0000005c;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
}

:host ::ng-deep{
    .p-sidebar .p-sidebar-content{
        padding:0 2rem 2rem;
    }
}