<div class="card p-0 pt-2 h-full">
    <div class="grid h-full" style="position:relative">
        <div class="col-2 left-menu p-5" [class.showSideHover]="showSideHover">
            <p-button label="Add New Task" styleClass="p-button-sm w-full sticky top-0 z-2"></p-button>

            <ul class="mt-4 sticky z-1" style="top:40px">
                <li *ngFor="let m of menu" [class.selected]="m?.selected">
                    <a class="nav-link " routerLinkActive="active" routerLink="{{m.link}}">
                        <i class="pi {{m.icon}}"></i>
                        <span>{{m.name}}</span>
                    </a>
                </li>
            </ul>
            <div class="mt-5 text-sm">TAGS</div>
            <ul>
                <li *ngFor="let t of tags" [class.selected]="t?.selected">
                    <a class="nav-link " routerLinkActive="active" routerLink="/todo/tags/{{t.name | lowercase}}">
                        <i class="pi {{t.icon}} pi-circle-on {{t.name}} color dot"></i>
                        <span>{{t.name | titlecase}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-10 right-content p-0 pr-1">
            <div *ngIf="showSideHover===true" (click)="showSideHover=false" class="overlay"></div>
            <i (click)="showSideHover=true" class="side-toggler fa fa-bars"></i>
            <p-orderList 
                
                [value]="items" 
                [style]="{'height':'calc(100% - 0)'}"
                (onSelectionChange)="selectTask($event)"
                filterBy="title, tags" 
                filterPlaceholder="Search Task" 
                [dragdrop]="true">
                    <ng-template let-item pTemplate="item">
                        <div class="flex justify-content-between">
                            
                            <div class="flex align-items-center">
                                <i class="mr-3 action pi" (click)="starTask($event, item)" [ngClass]="item.starred?'pi-star-fill selected':'pi-star'"></i>
                                <i class="action pi" (click)="completeTask($event, item)" [ngClass]="item.completed?'pi-check-circle selected':'pi-circle'"></i>
                                <div class="ml-3 list-detail">{{item.title}}</div>
                            </div>
                            
    
                            <div class="flex align-items-center text-left">
                                <div class="tags">
                                    <span *ngFor="let tag of item.tags" class="{{tag}}">
                                        {{tag}}
                                    </span>
                                </div>
                                <span class="date">{{item.due_date | date:'MMM d'}}</span>
                                <div *ngIf="item.owner !== -1" class="ml-3 image-container">
                                    <img src="assets/images/sample/user/{{item.owner.id}}.png" [alt]="item.title" class="image" pTooltip="{{item.owner?.first}}" tooltipPosition="left" />
                                </div>
                                <p-avatar *ngIf="item.owner === -1" label="KL" styleClass="ml-3 " [style]="{'background-color':'#dfebf7', 'color': '#717b86'}" shape="circle"></p-avatar>
    
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
    
        </div>

        <p-sidebar [style]="{width:'30em'}" [(visible)]="detailVisible" position="right" [baseZIndex]="10000">
            <h3>Detail Panel (coming soon)</h3>
        </p-sidebar>
    </div>
    
</div>

