<div class="card p-2 pb-3">
    <div class="card-header px-3">
        <h3>Online Store Sessions by Location</h3>
    </div>

    <p-table [value]="locations" 
        [rows]="10"
        responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Location</th>
                <th>Count</th>
                <th>Trend</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loc>
            <tr>
                <td>
                    <img src="assets/images/flags/flag_placeholder.png" 
                    [alt]="loc.name" 
                    width="20" 
                    class="mr-1 w-1rem h-1rem flag"
                    [ngClass]="'flag-'+loc.code" />
                    {{loc.name}}
                </td>
                <td>{{loc.count}}</td>
                <td>
                    <i class="text-xs pi" [ngClass]="{'pi-arrow-up up':loc.direction===1, 'pi-arrow-down down':loc.direction===-1}"></i>
                    {{(loc.trend|percent) || '-'}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>