<div class="card p-2">
    <div class="card-header px-3">
        <h3>Recent Sales</h3>
    </div>

    <p-table [value]="products" 
        [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" 
        currentPageReportTemplate="{totalRecords} items" 
        responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Reviews</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
            </tr>
        </ng-template>
    </p-table>
</div>