.circle{
    border-radius: 50% !important;
    border-width: 2px;
    overflow: hidden;
    border-style: solid;
}

:host ::ng-deep{
    canvas{height:40px !important;width:110% !important}
    p-chart{
        &>div{
            overflow:hidden;
            position: relative;
            // top: 9px;
            border-bottom-right-radius: 15px;
            // border-bottom-left-radius: 17px;
        }
    }
}