<div class="login-body flex flex-column align-items-center justify-content-center">
    <div class="login-panel p-5 p-fluid flex flex-column justify-content-center">
        <div class="grid align-items-center mb-3">
            <div class="col-4">
                <img alt="main logo" class="login-logo " [attr.src]="'assets/images/layouts/sensei-logo.png'">
            </div>
            <div class="col-8">
                <span class="mb-4 line-height-3">Welcome to the 
                    <span class="font-bold">Sensei Community</span>.
                    <br> Please sign in to continue.
                </span>
            </div>
        </div>
        
        <span class="p-input-icon-left mb-3">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="email" [(ngModel)]="email" />
        </span>
        <span class="p-input-icon-left mb-5">
            <i class="pi pi-key"></i>
            <input type="password" pInputText placeholder="email" [(ngModel)]="password" />
        </span>
        <button (click)="signIn($event)" type="button" pbutton="" label="Sign In" class="p-element p-button p-component" tabindex="0">
            <span class="p-button-label">Sign In</span>
        </button>
    </div>
    <span class="mt-4">Don’t you have an account, 
        <span class="font-bold cursor-pointer" tabindex="0">sign up</span>
    </span>
</div>