.login-body {
    height: 100vh;
    background:linear-gradient(45deg, #d6d9dd, white);
}
.login-body .login-panel {
    color:var(--ss-body);
    min-width: 30rem;
    background-color: var(--ss-font-opposite);
    border-radius: 14px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 4px, rgb(0 0 0 / 4%) 0px 24px 36px;
    animation: fadeInZoom 0.6s;
}
.p-inputtext {
    padding: 1rem 0.5rem;
    border: 1px solid #ababab44;
}
.login-logo{
    width: 7rem;
    height: 7rem;
}
