<div class="card p-2 pb-0">
    <div class="card-header px-3">
        <h3>Best Sellers</h3>
    </div>

    <p-table [value]="products" 
        [paginator]="true" [rows]="5"
        responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                
                <th>Image</th>
                <th>Name</th>
                <th>Sales</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td><img [src]="'assets/images/sample/product/' + product.image" [alt]="product.name" width="100" class="border-circle w-3rem h-3rem" /></td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>