.layout-wrapper {

    .layout-main {
        .layout-content {
            padding: 2rem;
            flex: 1 1 auto;
            background-color: var(--ss-layout);
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
        }

        .layout-main-mask {
            display: none;
        }
    }
}
