.layout-topbar{
    background:var(--ss-layout-top);
    height:7rem;
    padding: 0 2rem 0 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .layout-topbar-left{
        display: flex;
        justify-content: start;
        align-items: center;
        .menu-btn{
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background: var(--ss-button-hover);
            }
        }
    }
    
    .app-name{
        display:inline-flex;
        align-items: center;
        span{
            margin: 0 1rem 0 0.5rem;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .app-logo{
        max-height:45px;
        border-radius:50%;
        overflow:hidden;
        border:2px solid var(--ss-font);
    }

    .layout-topbar-right {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .layout-topbar-actions {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-grow: 1;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        & > li {
            display: flex;
            align-items: center;
            justify-content: center;
            &.search-item{

                a {
                    background: rgba(220, 230, 237, 0.1);
                    // border: 2px solid var(--ss-font);
                    border: 2px solid #3e4c5994;
    
                    border-radius: 40px;
                    padding: 9px;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    transition: opacity 0.3s;
                    transition-delay: 0.3s;
                    i{
                        color:var(--ss-font)
                    }
                }

                .search-input-wrapper {
                    position: relative;
                    width: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: 400ms cubic-bezier(0.86, 0, 0.07, 1);
                    span {
                        width: 100%;
                        .p-inputtext {
                            width: 100%;
                            position: relative;
                            border-radius: 40px;
                            padding: 9px;
                        }
                        i {
                            font-size: 18px;
                            margin-top: -9px;
                            color: var(--ss-font);
                        }
                    }
                    .p-inputtext {
                        background: rgba(220, 230, 237, 0.1);
                        color: var(--ss-font);
                        border: 2px solid #829AB1;
                    }
                }
                ul {
                    display: none;
                    background: #F5F7FA;
                }
            }

            &.active-topmenuitem{
                &.profile-item i {
                    transform: rotate(-180deg);
                }
                &.search-item{
                    a {
                        opacity: 0;
                        pointer-events: none;
                        cursor: default;
                        transition: opacity 0.1s;
                        transition-delay: 0.1s;
                    }
                    .search-input-wrapper {
                        width: 190px;
                        opacity: 1;
                        visibility: visible;

                        position: relative;
                        transition: 400ms cubic-bezier(0.86, 0, 0.07, 1);
                    }
                } 
            }
            &.profile-item {
                background: #dce6ed1a;
                // border: 2px solid var(--ss-font);
                border: 2px solid #3e4c5994;
                border-radius: 60px;
                margin-left: 1.5rem;
                font-size: 0.9em;
                .profile-container {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    a {
                        background: #a1b2c4;
                        color: var(--ss-font-opposite);
                        font-size: 1.5rem;
                        padding: 0.5rem 0.5rem 0.5rem 0.75rem;
                        border-radius: 24px 0px 0px 24px;
                    }
                    .name-container {
                        padding: 0.4rem 1rem;
                        span{display:block;white-space: nowrap;}
                        span.name {
                            color: var(--ss-font);
                            font-weight: 700;
                        }
                        span.job {
                            color: var(--ss-font);
                            opacity:0.8;
                        }
                    }
                    i {
                        font-size: 1.2rem;
                        padding: 0.5rem;
                        transition: transform 0.2s;
                        transform-origin: center center;
                    }
                }

                .profile-menu{
                    li {
                        a {
                            color: var(--ss-font);
                            user-select: none;
                        }
                        &:last-child{
                            border-top: 1px solid #ababab;
                            padding-top: 5px;
                            padding-left: 7px;
                        }
                    }
                    span{
                        color: var(--ss-font);
                    }
                }
                ul > li > a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 700;
                    padding: 10px 15px;
                    border-radius: 7px;
                    &:hover {
                        background: #ffffff;
                    }
                }
                                
            }

            & > ul {
                background: var(--ss-topbar-overlay);
                display: none;
                position: absolute;
                top: 6rem;
                right: 0px;
                list-style-type: none;
                margin: 0;
                padding: 0.5rem 1rem;
                z-index: 1000;
                min-width: 250px;
                border-radius: 8px;
                animation-duration: 0.2s;
                box-shadow: 0 2px 8px 0 rgb(25 26 28 / 12%);

            }
        }
    }
}