<div class="layout-topbar">
    
    <div class="layout-topbar-left">
        <div class="app-name">
            <img alt="main logo" class="app-logo " [attr.src]="'assets/images/layouts/logo-' + (profile.themeDark?'light':'dark') + '.png'">
            <span>Sensei</span>
            <a href="#" class="menu-btn" (click)="base.hamburgerClick($event)">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="layout-topbar-right">
        <ul class="layout-topbar-actions">
            <li class="search-item" [class.active-topmenuitem]="searchVisible">
                <a (click)="toggleSearch($event)" href="#" tabindex="0">
                    <i class="pi pi-search"></i>
                </a>
                <div class="search-input-wrapper">
                    <span class="p-input-icon-right">
                        <input type="text" pinputtext="" placeholder="Search..." autofocus="" class="p-inputtext p-component p-element">
                        <i class="pi pi-search cursor-pointer" (click)="toggleSearch($event)" ></i>
                    </span>
                </div>
                <!-- <ul class="fadeInDown">
                    <div class="search-input-wrapper p-fluid" style="width: 100%;">
                        <span class="p-input-icon-right">
                            <input type="text" pinputtext="" placeholder="Type your keywords" autofocus="" class="p-inputtext p-component p-element">
                            <i class="pi pi-search"></i>
                        </span>
                    </div>
                </ul> -->
            </li>
            <li class="profile-item" [class.active-topmenuitem]="profileMenuVisible">
                <div class="profile-container pr-2" (click)="toggleProfileMenu($event)" >
                    <a href="#">KL</a>
                    <div class="name-container">
                        <span class="name">Kathleen Lowe</span>
                        <span class="job">Sales Manager</span>
                    </div>
                    <i class="pi pi-angle-down"></i>
                </div>
                <ul [style.display]="profileMenuVisible?'block':'none'" class="profile-menu fadeInDown">
                    <li>
                        <a href="#">
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span pBadge value="8" severity="info" >Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span  pBadge severity="danger">Notifications</span>
                        </a>
                    </li>
                    <li class="flex align-items-center">
                        <p-inputSwitch [(ngModel)]="profile.themeDark" (onChange)="changeTheme($event)"></p-inputSwitch>
                        <span>{{profile.themeDark?'Dark':'Light'}} Theme</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>