<div class="card p-2 pb-0">
    <div class="card-header px-3">
        <h3>Orders</h3>
    </div>

    <div class="grid">
        <ng-container *ngFor="let item of items;let i=index">
            <div (click)="selectChart(i)" class="item col-6 md:col-6 lg:col-3" [class.selected]="selectedIndex===i">
                <span class="order-label"><i class="mb-4 pr-1 pi" [ngClass]="item.icon"></i>{{item.title}}</span>
                <img src="assets/images/sample/sample-order-{{i+1}}.svg">
            </div>
        </ng-container>

        <div class="col-12 p-0 pt-2 align-items-center z-1">
            <div class="grid align-items-center items-container">
                <div class="z-1 item col-6 md:col-6 lg:col-2 align-items-center text-center p-0">
                    <span class="text-3xl pl-2">{{items[selectedIndex].detail?.count}}</span>
                </div>
                <div class="z-1 item col-6 md:col-6 lg:col-3 p-0">
                    <ul class="order-types h-divider-left pl-3">
                        <li *ngFor="let stat of items[selectedIndex].detail?.stats">
                            <label>{{stat.title}}</label>
                            <span>{{stat.count}}</span>
                        </li>
                    </ul>
                </div>
                <div class="item col-12 md:col-12 lg:col-7 p-0 pt-3">
                    <p-chart type="line" [data]="data" [options]="options"></p-chart>
                </div>
            </div>
        </div>

    </div>
</div>