
.items-container{

}
.item{
    padding: 1rem;
    position: relative;
    transition: box-shadow .2s;
    border-left: 2px solid #00000000;
    border-right: 2px solid #00000000;
    cursor: pointer;
    overflow:hidden;

    &:first-child{
        border-left:0 !important;
    }
    &:nth-child(4){
        border-right:0 !important;
    }
    &.selected{
        // border-radius: 5px;
        // border: 1px solid black;
        // border:1px solid #ababab;
        border-bottom:3px solid #40b0f1
    }
    span{
        text-overflow: ellipsis;
    }
}
.order-label{
    white-space: nowrap;
}
img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
ul.order-types{
    li{
        white-space: nowrap;

        label{
            min-width: 62px;
            display:inline-block;
            opacity: 0.8;
        }
    }
}
:host ::ng-deep{
    canvas{
        height:140px !important;width:100% !important
    }
    p-chart{
        &>div{
            overflow:hidden;
            position: relative;
            // top: 9px;
            border-bottom-right-radius: 15px;
            // border-bottom-left-radius: 17px;
            // top: 8px;
            // width: 104%;
            // left: -10px;
            // top: 8px;
        }
    }
}