<div class="grid">
    <div class="col-12 align-items-center flex">
        <i class="pi pi-calendar mr-2"></i><p-dropdown (onChange)="durationChanged($event)" [options]="range" [(ngModel)]="selectedRange" optionLabel="name" optionValue="value"></p-dropdown>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <app-overview-banner 
            title="Orders"
            [counts]="[['Pending','640'], ['Completed','1.4K']]"
            [icon]="'pi-shopping-cart'"
            [colorVar]="'--ss-widget1-chart'">
        </app-overview-banner>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <app-overview-banner 
            title="Revenue"
            [counts]="[['Expenses','$2.1K'], ['Income','$9.6K']]"
            [icon]="'pi-dollar'"
            [colorVar]="'--ss-widget2-chart'">
        </app-overview-banner>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <app-overview-banner 
            title="Customers"
            [counts]="[['Active','8.2K'], ['Registered','25.4K']]"
            [icon]="'pi-users'"
            [colorVar]="'--ss-widget3-chart'">
        </app-overview-banner>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <app-overview-banner  
            title="Comments"
            [counts]="[['New','12'], ['Pending','85']]"
            [icon]="'pi-comments'"
            [colorVar]="'--ss-widget4-chart'">
        </app-overview-banner>
    </div>

    <div class="col-12 md:col-6">
        <app-orders [duration]="selectedRange"></app-orders>
    </div>
    <div class="col-12 md:col-6">
        <app-recent-sales [duration]="selectedRange"></app-recent-sales>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <app-best-sellers [duration]="selectedRange"></app-best-sellers>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="grid">
            <div class="col-12">
                <app-session-locations [duration]="selectedRange"></app-session-locations>
            </div>
            <div class="col-12">
                <app-session-social-static></app-session-social-static>
            </div>
        </div>
       
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <app-revenue-stream-static></app-revenue-stream-static>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <app-tasks-static></app-tasks-static>
    </div>
</div>