.layout-menu-container {
    overflow: auto;
    flex: 1;
    padding: 1rem 1.5rem 1rem 1rem;

    .layout-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .layout-root-menuitem > .layout-menuitem-root-text {
            font-size: 0.857rem;
            text-transform: uppercase;
            font-weight: 700;
            padding: 1rem 0 0.5rem 0;
        }
        .layout-root-menuitem > a {
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                border-radius: 7px;
                margin-bottom:1px;
                a{
                    border-radius: 7px;
                    font-size: 1em;

                    .layout-menuitem-icon {
                        font-size: 1.2rem;
                        margin-right: 0.5rem;
                    }
                    &:hover {
                        background: #f5f7fa;
                    }
                }
            }
        }
        
    }

    .p-ink {
        display: block;
        position: absolute;
        background: rgba(255,255,255,.5);
        border-radius: 100%;
        transform: scale(0);
    }
}
:host ::ng-deep{
    .p-menu{

        .p-submenu-header {
            color: var(--ss-menu-header);
        }
        .p-menuitem-link{
            border-radius:5px;
            &:focus{
                box-shadow: none;
            }
            .p-menuitem-icon, .p-menuitem-text{
                color:var(--ss-font)
            }
        }
        .p-menuitem-link:not(.p-disabled):hover {
            background: var(--ss-menu-item-hover);
            .p-menuitem-icon, .p-menuitem-text {
                color:var(--ss-font)
            }
        }
        .p-menuitem-link-active {
            background: var(--ss-menu-item);
            color: #3E4C59;
            // box-shadow: 0px 3px 4px rgb(0 0 0 / 10%), 0px 24px 36px rgb(0 0 0 / 4%);
            &:focus{
                box-shadow: none;
            }
        }
    } 
}