li{
    padding:5px 0;
}
.progress{
    background:#ababab4f;
    border-radius:5px;
    padding: 4px 0;
    height: 8px;
    span{
        display: inline-block;
        height: 7px;
        position: relative;
        top: -10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        &.bar-1{
            background:var(--ss-widget-color1);
        }
        &.bar-2{
            background:var(--ss-widget-color2);
        }
        &.bar-3{
            background:var(--ss-widget-color3);
        }
        &.bar-4{
            background:var(--ss-widget-color4);
        }
        &.bar-5{
            background:var(--ss-widget-color5);
        }
    }
}